
.jumbotron {
    background-image: url("/assets/images/wallp.jpg");
    background-repeat: no-repeat;
    background-color: black;
    background-size: contain;
    color: white;
    text-align: center;
    border-radius: 0%;
}