<div class="container">
    <p>
        Welcome to <strong>Back2Fitness Pro app!</strong>  It is our main goal
        to get you back to full fitness. We aim to strengthen your core to help 
        support your spine and reduce the amount of pain you may currently be in.
        Our app is also designed to maintain your back fitness once you are
        pain-free by performing the McGill big 3 exercises <strong>daily</strong>.
        To start your Rehabilitation exercises, click <button class="btn btn-primary" (click)="startRehab()">start</button>
        <br><br>
        To understand more about some common myths about back pain, and why 
        it's important to perform these McGill exercises, continue reading below!
    </p>
    <h5 class="text-center"><strong>Debunking Myths</strong></h5>
    <p>
        One of the most common myths about treating a herniated disc is that
        stretching will help relieve the pain. In fact, many of us are 
        actually advised to stretch back muscles to achieve symptom relief. 
        In truth, however, stretching often exacerbates the problem, because 
        it puts the low back into flexion, and for people who are intolerant 
        to flexion movements (bending forward), it only makes a bad back worse.
    </p>
    <p>
        Strengthening exercises are another frequently suggested remedy for 
        back pain, and another commonly circulated myth. More often than not, 
        people experience pain when they move poorly and that happens when they 
        get tired. For example, the likelihood of performing awkward lifts with 
        the back in a deviated position increases with fatigue. In his research
        on low-back rehab, Dr. Stuart McGill, Professor Emeritus of Spine 
        Biomechanics at the University of Waterloo, has demonstrated that 
        enhancing endurance, not strength, helps people avoid awkward postures
        that can lead to back pain. In other words: maintaining proper movement
        over the day requires endurance.

        Endurance movements form the backbone of Dr. McGill’s recommended 
        core and low-back exercises. Endurance exercises promote spine 
        stability. “True spine stability is achieved with a ‘balanced’ 
        stiffening from the entire musculature including the rectus abdominis
        and the abdominal wall, quadratus lumborum, latissimus dorsi and the 
        back extensors of longissimus, iliocostalis and multifidus,” explains
        McGill.
    </p>
    <img src="assets/images/birddog2.jpg" class="img-fluid card-img-top exercisePicSize">
    <hr>
    <h4 class="text-center"><strong>The McGill Big 3</strong></h4>
    <p> 
        Stuart McGill's “Big Three” exercises create a stiffness that enhances
        stability in a spine-sparing way and have been shown to create 
        stiffness and stability that lasts after each session. This is 
        particularly helpful for those who have pain from joint instability 
        due to overload or overuse. How do you stiffen the core to achieve 
        spinal stability? “The abdominal brace enhances stability,” explains 
        McGill, as it engages all of the important muscles. To properly brace,
        relax the abdominals and then push fingers into the oblique muscles 
        about 5 to 12 cm lateral to the navel. Gently stiffen the abs—you will
        feel your fingers being pushed out. You can also adjust the brace to fit
        the level of activity being performed. For heaving lifting, for example,
        you would stiffen more, while for activities that require spine posture 
        control (e.g., sit to stand) you would stiffen less.
        McGill’s “Big Three” Have clients perform three sets for each low back
        exercise using the reverse pyramid rep/set scheme. This allows them to 
        build muscular endurance without fatiguing the muscle. Start with a higher 
        number of repetitions for the first set (e.g., eight reps), then decrease
        by two to six reps, then decrease by another two to four reps on the last
        set. Hold each movement for no more than eight to 10 seconds. As endurance
        increases, add repetitions to each set (e.g., 10-8-6, 12-10-8). For 
        side-bridge and birddog, hold eight to 10 seconds per side.
    </p>
    <br>
    <img src="assets/images/sm.jpg" class="img-fluid card-img-top exercisePicSize">
    <p class="text-center"><i>Dr. Stuart McGill, Spine Biomechanics Professor at the University of Waterloo</i></p>
    <hr>
</div>
